.idea
var
vendor/
composer.lock
.phpunit.result.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
.phpunit.cache
phpstan.neon
/public/bundles/
.env.local
api_documentation


###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
